<footer>
  <div class="contact-row">
      <p>Looking to get in touch?</p>
      <a href="/contact">Contact Me</a>
  </div>
  <div class="social-row">
    <span style="color:black;float:left;">@2023 Copyrights</span>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-github"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <!-- <a href=""><i class="fa fa-behance"></i></a> -->
  </div>
</footer>