<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!-- about-section -->
<section class="about-us">
  <div class="about">
    <img src="img/about-image.png" class="pic" />
    <div class="text">
      <h2>About Me</h2>
      <h5>Hii, My Name Is Akash Parekh</h5>
      <p>Pursuing post graduation diploma in  Artificial Intelligence at Centennial College (Progress Campus), Canada. I have done my bachelor degree in Computer Science and Engineering in India. Later on, i was working as a Full Stack Developer upto 2 years.</p>
      <div class="data">
        <a href="https://drive.google.com/file/d/1JQDty5k0DRPVX3AZ-5fTQ6ew6RPnAJyG/view?usp=sharing" target="_blank">Click Here,</a><span style="color:black"> For My Resume</span>
      </div>
    </div>
  </div>
</section>
<!-- end -->
<%- include ('partials/bottom_nav.ejs') %>
    
   
   
   
   