<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!-- Project-section -->
<section class="articles mt-5 mb-5">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="img/p-1.png" alt="" />
      </figure>
      <div class="article-body">
        <h4>MTJ.World- Ecomm Website</h4>
        <p>
          Mtj.World its an ecomm website built using MERN. I have developed this website as per client's requirements such as customers can select their products as per their choice they can add to cart, buy it or can able to place an order. I have used so many functionality like Filtering the product, Upload the product image of their desire so that they can match the product or else buy the exact one. 
        </p>
        
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="img/p-2.png" alt="" />
      </figure>
      <div class="article-body">
        <h3>E-jewels ERP</h3>
        <p>
          E-jewels ERP is a software solutions used by businesses to manage and automate various aspects of their operations, including finance, human resources, inventory management, supply chain, customer relationship management (CRM), and more. My role was to develop and deploy software as per client requirements and solve real time problems using PHP, Js, Jquery/AJAX and more.
        </p>
        
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="img/p-3.png" alt="" />
      </figure>
      <div class="article-body">
        <h3>FineCarats- Jwellery Store </h3>
        <p>
          Finecarats is an ecomm website which is built using React and PHP. It is a software where customer can buy and sell products. My role was to develop APIs with the help of PHP and deploy in React.
        </p>
        
      </div>
    </div>
  </article>
</section>
<!-- End -->
<%- include ('partials/bottom_nav.ejs') %>